
.top-navbar {
    background-color: #292b2c;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        &:last-child {
            justify-content: flex-end;
        }
    }
  }


  .brand {
    font-size: 1.5em;

    a:hover {
      text-decoration: none;
    }
  }

  li {
    float: left;

    span {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      a  {
          color: #f1f1f1;
          text-decoration: none;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }


a {
  text-decoration: none;
}
