$white: rgba(255, 255, 255, 1);
$lightWhite: rgba(255, 255, 255, 0.5);

$lightGrey: rgba(95, 95, 95, 1);
$focusDark: rgba(50, 50, 50, 0.8);
$primaryColor: rgba(41, 43, 44, 1);

$shadowDark: rgba(0, 0, 0, 0.2);
$lightDark: rgba(0, 0, 0, 0.4);
$hoverDark: rgba(0, 0, 0, 0.7);
