@import '../colors';


.alert-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $lightDark;
}

.alert-title{
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid $lightDark;

  .title{
    flex: 1;
    font-weight: bold;
    text-align: center;
    align-items: center;
  }

}

.alert-content {
  position: relative;
  width: 40%;
  background-color: $white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid $shadowDark;
  border-radius: 5px;
  box-shadow: 1px 1px 10px $shadowDark;

  .alert-message {
    text-align: center;
  }

}

.close {
  background: transparent;
  border: none;
  color: $lightGrey;
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: -10px;
  font-size: 42px;
  font-weight: bold;
}
