@import '../colors';

.commit-section {
    position: relative;
    top: 78px;
    left: 25%;
    width: 75%;
    margin: 0;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.title-header {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  width: 90%;
}

.commit-card {
  background-color: $lightWhite;
  margin-bottom: 15px;
  padding: 10px 0px 10px 20px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid $shadowDark;
  box-shadow: 1px 1px 10px $shadowDark;

  .title-section {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
  .repo-name {
    flex: 1;
    font-weight: 600;

    a {
      color: $primaryColor;
    }
  }

  .sha{
    margin-right: 2%;
    color: $lightGrey;
    font-size: 11pt;
  }

  .commit-message{
    margin-top: 10px;
    font-size: 13pt;
  }

  .commit-author{
    font-size: 11pt;
    color: $lightGrey;
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $hoverDark;
}
