@import '../colors';

.loader {
  position: relative;
  top: 48vh;
  left: 57%;
  border: 16px solid $shadowDark;
  border-top: 16px solid $lightGrey;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
