@import '../colors';

.sidebar {
  height: calc(100vh - 64px);
  position: fixed;
  top: 64px;
  width: 20%;
  display: flex;
  flex-flow: column;
  border-right: 1px solid $shadowDark;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $lightWhite;
  box-shadow: 1px 1px 10px $shadowDark;

  form {
    .search-button {
      background-color: transparent;
      margin-left: 5px;
      box-shadow: none;
      border: 1px solid $lightDark;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      flex: 1;
      margin-top: 10px;

      &:hover {
        color: $white;
        background-color: $hoverDark;
        border: 1px solid $white;
      }
    }
  }

  label {
    font-size: 20px;
    text-align: center;
  }

  input {
    text-align: left;
    width: 80%;
    border: none;
    border-bottom: 1px solid $lightDark;

    &:focus {
      outline: none;
      border-bottom: 1px solid $focusDark;
    }
  }

}
